extends ../common/common.pug

block vars
    - var config = {title:"框架", body:{cls:"",contentCls:"indexConBox"}}

block css
    //- link(href='/guide/css/home/index.css',rel='stylesheet')

block js
    //- script(src='/guide/js/home/index.min.js',type='text/javascript')

//- 页面主体内容
block content
    div.panel.panel-default
      div.panel-body
          h3 gulp+webpack配置文档



