extends ../common/common.pug

block vars
    - var config = {title:"Echarts汇总", body:{cls:"",contentCls:"indexConBox"}}

    //- 后端参数可通过此传输
block head
    //- meta(name='example-data',content='{{php_data}}')

block css
    //- link(href='/guide/css/home/index.css',rel='stylesheet')

block js
    //- script(src='/guide/js/home/index.min.js',type='text/javascript')

//- 页面主体内容
block content
  div.content
      h4 用于创造各种Echarts



